@font-face
  font-family: 'GothaProMed' //500
  src: url("../fonts/GothaProMed.otf") format("opentype")

@font-face
  font-family: 'GothaProBla' //900
  src: url("../fonts/GothaProBla.otf") format("opentype")

@font-face
  font-family: 'GothaProBol' //700
  src: url("../fonts/GothaProBol.otf") format("opentype")

@font-face
  font-family: 'GothaProReg' //400
  src: url("../fonts/GothaProReg.otf") format("opentype")

body, html
  overflow-x: hidden

p
  margin: 0

*
  outline: none
  box-sizing: border-box

.clearfix::after
  content: ""
  clear: both
  display: table

img
  max-width: 100%

.container
  width: 90%
  max-width: 1230px
  margin: 0 auto

header
  width: 100vw
  height: 100vh
  background: url("../img/head_bg.png") no-repeat center /cover
  position: relative

  .wrap_head
    display: flex
    justify-content: center
    //max-width: 1800px
    margin: 0 auto

    .head_left
      //padding-left: 35px
      //padding-right: 25px
      height: calc(100vh - 80px)
      width: 100%
      padding-top: 30px
      .mob
        display: none

      .head_left-main
        margin-bottom: 70px
        h1
          color: #ffffff
          font-family: "GothaProBla"
          font-size: 48px
          font-weight: 400
          line-height: 53px
          text-transform: uppercase
        h4
          color: #ffffff
          font-family: "GothaProReg"
          font-size: 18px
          font-weight: 400
          line-height: 24px
          max-width: 410px

      .head_left-container
        width: 90%
        margin: 0 auto
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between


      .head_left-top
        display: flex
        justify-content: space-between
        align-items: center

        .tel
          font-family: 'GothaProReg'
          font-size: 11px
          font-weight: 300
          color: #fff

          p
            margin-left: 24px

          a
            color: #ffffff
            display: block
            border: 1px solid #ffffff
            background-color: rgba(2, 7, 13, .38)
            border-radius: 10px
            margin-top: 10px
            text-decoration: none
            width: 200px
            height: 37px
            text-align: center
            font-family: 'GothaProReg'
            font-size: 18px
            font-weight: 400
            line-height: 37px
            text-transform: uppercase

    .head_right
      width: 100%
      background-color: rgba(0, 6, 14, .66)
      height: calc(100vh - 80px)
      position: relative
      .blue_line
        display: flex
        flex-direction: column
        position: absolute
        left: -18px
        .line_hd
          width: 4px
          height: 125px
          background-color: #0077fd
          margin: 0 auto
        img
          margin-top: -12px




      .head_right-main
        display: flex
        flex-wrap: wrap

        .head_box
          width: 50%
          border: 1px solid #fff
          height: calc((100vh - 130px - 80px) / 2)
          padding-left: 45px
          display: flex
          flex-direction: column
          justify-content: center
          background: url(../img/01.png) no-repeat 100% 50%
          &:first-child
            border-bottom: none
          &:last-child
            border-left: none
            border-right: none

          img
            margin-bottom: 25px

          h5
            margin: 0
            color: #ffffff
            font-family: "GothaProBla"
            font-size: 17px
            font-weight: 400
            text-transform: uppercase

            &:after
              content: ''
              display: block
              width: 87px
              height: 2px
              margin-top: 15px
              background-color: #0077fd

        .head_box_sec
          background: url(../img/02.png) no-repeat 100% 50%
          border-bottom: none
          border-left: none
          border-right: none

        .head_box_third
          background: url(../img/03.png) no-repeat 100% 50%

        .head_box_fourth
          background: url(../img/04.png) no-repeat 100% 50%

      .head_right-container
        width: 90%
        margin: 0 auto

      .head_right-top
        padding-top: 50px
        padding-bottom: 50px
        display: flex
        justify-content: flex-end

        a
          color: #ffffff
          text-decoration: none
          font-family: "GothaProReg"
          font-size: 14px
          font-weight: 400
          line-height: 30px
          text-transform: uppercase

          img
            margin-left: 15px

  .mouse_block
    position: absolute
    background-color: #0049a5
    bottom: 0
    left: 0
    right: 0
    height: 80px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center

    .mouse-icon
      margin: 0 auto

    .arr
      i
        color: #fff
        font-size: 20px
#second
  padding: 140px 0px
  background: url(../img/index.png) repeat, #0077fd
  .wrap_second
    display: flex
    justify-content: space-between
  .second_left
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-right: 60px
    width: 50%
    span
      color: #ffffff
      font-family: "GothaProMed"
      font-size: 60px
      font-weight: 500
      opacity: 0
    //line-height: 131.13px
    p
      color: #ffffff
      font-family: "GothaProReg"
      font-size: 18px
      font-weight: 400
      line-height: 24px
  .second_right
    width: 50%
    padding-left: 55px
    position: relative
    &:before
      content: ''
      position: absolute
      left: -2px
      width: 5px
      height: 170px
      background-color: #0049a5
    p
      color: #ffffff
      font-family: "GothaProReg"
      font-size: 14px
      font-weight: 400
      line-height: 24px
      max-width: 500px
    .button_arrow
      margin-top: 90px
      a
        color: #ffffff
        font-family: "GothaProBol"
        font-size: 14px
        font-weight: 700
        line-height: 18px
        text-decoration: underline
        transition: all .3s ease
        &:hover
          img
            margin-left: 30px
        img
          transition: all .3s ease
          margin-bottom: -7px
          margin-left: 20px
#productions
  background-color: #0077fd
  display: flex
  justify-content: center
  .productions_left
    width: 50%
    .head_product
      h3
        //margin: 0
        color: #ffffff
        font-family: "GothaProBla"
        font-size: 48px
        font-weight: 400
        line-height: 48px
      h5
        opacity: 0.11
        color: #d9dadf
        font-family: "GothaProBla"
        margin: 0
        font-size: 118px
        font-weight: 400
        //line-height: 177.42px
    .fat_product
      background-color: #0049a5
      h6
        color: #ffffff
        font-family: "GothaProBla"
        font-size: 22px
        font-weight: 400
        line-height: 24px
        text-transform: uppercase
  .productions_right
    width: 50%
//--------------
.slider__control_left::before
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
.slider__control_right::before 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
.slider__control
  position: absolute
  top: 50%
  display: flex
  align-items: center
  justify-content: center
  transform: translateY(-50%)
  z-index: 1000

.slider__control_left
  left: 60px

.slider__control_right
  left: 50%
  img
    transform: translate(calc(-100% - 50px))
 
.spehes__wrapper-listItem.active
  .textPart
    background-color: rgba(5,16,31, 0.72)
.spehes
  background-color: #0049a5
  position: relative
  overflow: hidden
  &__wrapper
    display: flex
    transition: transform .6s ease
    &-listItem
      flex: 0 0 75%
      width: 75%
      position: relative
      display: flex
      justify-content: flex-end
      .textPart
        background-color: #0049a5
        padding-top: 130px
        padding-bottom: 120px
        padding-left: 140px
        padding-right: 20px
        // background-color: rgba(5,16,31, 0.72)
        width: 668px
        height: 712px
        position: absolute
        top: 0
        left: 0
        width: 66.6666%
        z-index: 4
        &__content
          p
            color: #ffffff
            font-family: "GothaProBol"
            font-size: 48px
            margin-bottom: 60px
          ul
            padding: 0
            max-width: 360px
            li
              list-style-type: none
              color: #ffffff
              font-family: "GothaProReg"
              font-size: 14px
              line-height: 21px
              margin-bottom: 30px
          a
            color: #ffffff
            margin-top: 90px
            font-family: "GothaProReg"
            font-size: 12px
            line-height: 18px
            display: block
            width: 155px
            height: 43px
            border: 1px solid #0077fd
            border-radius: 43px
            padding-top: 12px
            text-align: center
            text-decoration: none
      .imgPart
        width: 668px
        height: 712px
        // display: flex
        // justify-content: flex-end
        // width: 66.6666%
        img
          width: 100%
          height: 100%
//companyNews------------------
.companyNews
  &__top
    display: flex
    align-items: center
    &-left
      width: 50%
      padding-left: 60px
      padding-right: 15px
      padding-top: 45px
      padding-bottom: 150px
      border: 1px dotted #959595
      h3
        opacity: 0.11
        color: #042044
        font-family: "GothaProBla"
        font-size: 118px
        line-height: 177.42px
        margin: 0
        margin-left: -60px
      h4
        color: #373737
        font-family: "GothaProBla"
        font-size: 48px
        line-height: 47.9px
        margin: 0
        margin-top: -75px
    &-right
      width: 50%
      a
        text-decoration: none
        display: flex
        p
          margin-left: 70px
          color: #0077fd
          font-family: "GothaProBol"
          font-size: 14px
          line-height: 18px
        &:hover
          img
            margin-left: 30px
        img
          transition: .3s
          margin-left: 15px
          margin-top: -4px
  &__bottom
    &__wrapper
      &-listItem
        width: 700px
        &-general
          width: 50%
          h5
            color: #373737
            font-family: "GothaProMed"
            font-size: 20px
            line-height: 26px
            text-decoration: underline
          p
            color: #5b6770
            font-family: "GothaProReg"
            font-size: 14px
            line-height: 23px
            margin-bottom: 55px
          .date
            display: flex
            i
              color: #0077fd
              font-size: 22px
              margin-right: 20px
            p
              color: #0077fd
              font-family: "GothaProBol"
              font-size: 14px
              line-height: 22px
        &-left
          img
            width: 100%
            height: 100%
        &-right
          padding: 0 20px
          border: 1px dotted #959595
.companyNews__bottom__wrapper-listItem__wrapper
  display: flex
.news
  display: flex
  &__arrow
    cursor: pointer
    width: 88px
    height: 68px
    display: flex
    justify-content: center
    align-items: center
    background-color: #0049a5
    position: absolute
    left: 50%
    top: -68px
    img
      transition: .3s
  &__prev
    transform: translateX(-200%)
    img
      margin-right: -15px
    &:hover
      img
        margin-right: 15px
  &__next   
    transform: translateX(-100%)
    img
      margin-left: -15px
    &:hover
      img
        margin-left: 15px
//Geography---------------------
.geography
  background-image: url(../img/geography_bg.png)
  background-position: center center 
  display: flex
  justify-content: flex-end
  padding-top: 40px
  padding-bottom: 150px
  &__content
    font-family: "GothaProReg"
    width: 659px
    padding-left: 55px
    margin-right: 5%
    h3
      opacity: 0.11
      color: #042044
      font-size: 118px
      line-height: 177.42px
      font-family: "GothaProBla"
      margin: 0
      margin-left: -55px
    h4
      margin: 0
      color: #373737
      font-size: 48px
      line-height: 48px
      font-family: "GothaProBla"
      margin-top: -70px
      margin-bottom: 43px
    p
      color: #373737
      width: 392px
      font-family: "GothaProReg"
      font-size: 14px
      line-height: 21px
      margin-bottom: 25px
    &-feedback
      margin-top: 50px
      cursor: pointer
      width: 155px
      height: 43px
      border-radius: 43px
      border: 1px solid #ffffff
      background-color: #0077fd
      display: flex
      justify-content: center
      align-items: center
      p
        color: #ffffff
        width: auto
        font-family: "GothaProReg"
        font-size: 12px
        line-height: 18px
        margin: 0
        margin-right: 15px
        margin-left: 5px


//Partners----------------------  
section#ourPartners
  .ourPartners__top
    display: flex
    &-left
      width: 50%
      padding-left: 50px
      padding-top: 37px
      &__link
        display: flex
        align-items: center
        justify-content: flex-end
        margin-right: 10px
        a 
          color: #0077fd
          font-family: "GothaProBol"
          font-size: 14px
          line-height: 18px
          margin: 0
          margin-right: 25px
          text-decoration: none
          display: flex
          justify-content: center
          align-content: center
          &:hover
            img
              transform: translateX(50%)
          img
            transition: .3s
            margin-left: 20px
            margin-top: -3px
            // width: 31px
            // height: 25px
            // max-width: 31px
            // max-height: 25px
      &__text
        h3
          margin: 0
          opacity: 0.11
          color: #042044
          font-family: "GothaProBla"
          font-size: 118px
          margin-left: -45px
        h4
          margin: 0
          color: #373737
          font-family: "GothaProBla"
          font-size: 48px
          margin-top: -55px
          margin-bottom: 25px
        p
          color: #5b6770
          font-family: "GothaProReg"
          font-size: 14px
          line-height: 21px
          max-width: 413px
      &__arrows
        display: flex
        justify-content: flex-end
        &-item
          cursor: pointer
          width: 88px
          height: 68px
          display: flex
          justify-content: center
          align-items: center
          background-color: #0049a5
          img
            transition: .3s
        &-left
          position: absolute
          left: 50%
          top: -68px
          transform: translateX(-200%)  
          img
            margin-right: -25px
          &:hover
            img
              margin-right: 10px
              transition: .3s
        &-right
          position: absolute
          left: 50%
          top: -68px
          transform: translateX(-100%) 
          img
            margin-left: -25px
          &:hover
            img
              margin-left: 10px
              transition: .3s
    &-right
      width: 50%
      display: flex
      &__item
        width: 50%
        height: 357px
        display: flex
        justify-content: center
        align-items: center
        border: 1px dotted #959595
  .ourPartners__bottom
    &__wrapper
      position: relative
      &__item
        width: 25%
        height: 357px
        display: flex
        justify-content: center
        align-items: center
        border: 1px dotted #959595


//Footer-------------------------

footer
  position: relative
  .footer__top
    background-color: #042044
    padding-top: 30px
    padding-bottom: 30px
    &-container
      width: 90%
      max-width: 1230px
      margin: 0 auto
      display: flex
      .footer__top__left
        width: 50%
        display: flex
        align-items: center
        justify-content: space-around
        .infoTech
          color: #ffffff
          font-family: "GothaProReg"
          font-size: 14px
          line-height: 18px
          img
            width: 111px
            height: 46px
            max-width: 111px
            max-height: 46px
            margin-bottom: 20px
          p
            margin-bottom: 25px
        .infoSoc
          display: flex
          &__item
            margin-left: 5px
            a
              text-decoration: none
              color: rgba(255, 255, 255, 0.49)
              display: flex
              justify-content: center
              align-items: center
              width: 38px
              height: 38px
              border: 3px solid rgba(255, 255, 255, 0.49)
              border-radius: 38px
              i
                font-size: 20px
      .footer__top__right
        width: 50%
        color: #ffffff
        font-family: "GothaProReg"
        display: flex
        justify-content: space-between
        ul
          li
            list-style-type: none
            border-bottom: 1px solid #ffffff
            a
              text-decoration: none
              font-size: 14px
              line-height: 30px
              color: #ffffff
          .nonBorder
            border: none
        &-contacts
          color: #ffffff
          h4
            font-family: "GothaProBla"
            font-size: 22px
            line-height: 30px
          p
            font-size: 18px
            line-height: 30px
            text-transform: uppercase
          span
            font-size: 14px
            line-height: 30px
          p.mail
            font-size: 14px
            line-height: 30px
    &__right
  .footer__bottom
    background-color: #0049a5
    padding: 12px 50px
    &__allRights
      display: flex
      align-self: center
      p
        color: #7aadec
        font-family: "GothaProReg"
        font-size: 11px
        // Text style for ",  , © 200"
        line-height: 30px
        // Text style for "ООО , ТЭХ-"
        line-height: 18px
    &__links
      display: flex
      align-items: center
      ul
        margin: 0px
        padding: 0px
        li
          list-style-type: none
          display: inline
          margin-right: 50px
          a
            text-decoration: none
            color: #ffffff
            font-family: "GothaProReg"
            font-size: 12px
            line-height: 30px
        .las_link
          margin-right: 0px
    &__logo
      display: flex
      justify-content: center
      align-content: center
      p
        color: #919191
        font-family: "GothaProReg"
        font-size: 11px
        height: 10px
        margin-top: auto
        margin-bottom: auto
        margin-right: 10px
      img
        width: 113px
        height: 40px
        max-width: 113px
        max-height: 40px
    &-container
      width: 90%
      max-width: 1230px
      margin: 0 auto
      display: flex
      justify-content: space-between


.verBlueLine
  width: 5px
  height: 169px
  background-color: #0049a5
  position: absolute
  left: 50%
  top: 0
  transform: translatex(-50%)






//MEDIA QUERIES_______________________________________________-
@media all and (max-width: 1410px)
  .geography__content
    margin-right: -1%
@media all and (max-width: 1330px)
  .companyNews__bottom__wrapper-listItem-general p
    font-size: 12px
    line-height: 20px
  .companyNews__bottom__wrapper-listItem-general h5
    font-size: 18px
@media all and (max-width: 1250px)
  footer .footer__bottom-container
    flex-direction: column
    align-items: center
@media all and (max-width: 1200px)
  .slider__control_left
    left: 10px
  .slider__control_right img
    transform: translate(calc(-100% - 10px))
  .spehes__wrapper-listItem .textPart
    padding-left: 70px
  .companyNews__top-left h3
    font-size: 100px
  .companyNews__top-left h4
    font-size: 40px
  .geography
    background-image: url(../img/geography_bg_new.png)
    &__content
      width: 100%
      padding-right: 55px
@media all and (max-width: 1150px)
  .companyNews__bottom__wrapper-listItem-general
    height: 600px
  section#ourPartners .ourPartners__bottom__wrapper__item
    height: 300px
  section#ourPartners .ourPartners__top-right__item
    height: 300px
  section#ourPartners .ourPartners__top-left__text h3
    font-size: 76px
  section#ourPartners .ourPartners__top-left__text p
    margin-top: -13px
@media all and (max-width: 1100px)
  .verBlueLine
    display: none
  footer .footer__top-container
    flex-direction: column
    align-items: center
  footer .footer__top-container .footer__top__left
    width: 100%
    justify-content: space-between
    margin-bottom: 30px
  footer .footer__top-container .footer__top__right
    width: 100%
    justify-content: space-between
  footer .footer__top-container .footer__top__right ul
    padding-left: 0px
@media all and (max-width: 995px)
  .companyNews__top-left h3
    font-size: 75px
  .companyNews__top-left h4
    font-size: 35px
    margin-top: -33px
  .companyNews__top-left
    padding-left: 15px
  .companyNews__top-left h3
    margin-left: -25px
    line-height: inherit
  header .wrap_head .head_left .head_left-main h1
    font-size: 37px
  header .wrap_head .head_left .head_left-top .tel a
    width: 160px
    font-size: 15px
@media all and (max-width: 970px)
  .spehes__wrapper-listItem
    width: 100%
    flex: 0 0 100%
  .slider__control_right
    left: 66.6666%
  section#ourPartners .ourPartners__top-left__text h4
    margin-top: -33px
  section#ourPartners .ourPartners__top-right
    width: 100%
  section#ourPartners .ourPartners__top-left
    width: 100%
  section#ourPartners .ourPartners__top
    flex-direction: column
    align-items: center
  section#ourPartners .ourPartners__top-left
    margin-bottom: 30px
  section#ourPartners .ourPartners__top-left__arrows-item
    transform: none
    left: 50%
    top: inherit
    bottom: 0
  section#ourPartners .ourPartners__top-left__arrows-left
    transform: translateX(-100%)
  section#ourPartners .ourPartners__bottom__wrapper
    padding-bottom: 68px
  section#ourPartners .ourPartners__top-right__item
    height: 250px
  section#ourPartners .ourPartners__bottom__wrapper__item
    height: 250px
  #second .second_left
    width: 100%
  #second .second_right
    width: 100%
    padding-left: 0px
    margin-top: 30px
    &:before
      display: none
  #second .second_right p
    max-width: 100%
  #second .second_right .button_arrow
    margin-top: 40px
  #second .wrap_second
    flex-direction: column
// .slick-current
//   margin-right: 100px
@media all and (max-width: 780px)
  .companyNews__bottom__wrapper-listItem-general h5
    margin-bottom: 5px
  .companyNews__bottom__wrapper-listItem-general p
    margin-bottom: 15px
  .companyNews__bottom__wrapper-listItem-general
    height: 400px
  header .mouse_block
    display: none
  header .wrap_head
    flex-direction: column
  header
    height: auto
    width: auto
  header .wrap_head .head_right .blue_line
    display: none
  header .wrap_head .head_right .head_right-top
    display: none
  header .wrap_head .head_right
    height: auto
  header .wrap_head .head_left
    background: rgba(0, 0, 0, .66)
  header .wrap_head .head_right .head_right-main .head_box
    padding-left: 25px
  header .wrap_head .head_right .head_right-main .head_box:last-child
    border-right: 1px solid #ffffff
  header .wrap_head .head_right .head_right-main .head_box_sec
    border-right: 1px solid #ffffff
  header .wrap_head .head_left .head_left-top .tel
    display: none
  header .wrap_head .head_left .mob
    display: block
  .mob a.menu_button
    color: #ffffff
    text-decoration: none
    font-family: "GothaProReg"
    font-size: 14px
    font-weight: 400
    line-height: 30px
    text-transform: uppercase
  .mob a.menu_button img
        margin-left: 15px
@media all and (max-width: 730px)
  .spehes__wrapper-listItem .textPart
    width: 100%
    position: static
    padding-right: 0px
  .slider__control_right
    left: 100%
    width: 31px
    height: 29px
  .spehes__wrapper-listItem .imgPart
    display: none
  .companyNews__top-left h3
    font-size: 56px
  .companyNews__top
    flex-direction: column
  .companyNews__top-left
    width: 100%
    border: none
    padding-bottom: 30px
  .companyNews__top-right a p
    margin-left: 15px
  .news__arrow
    top: inherit
  .news__prev
    transform: translateX(-100%)
    bottom: 0
  .companyNews__bottom__wrapper
    padding-bottom: 68px
  .news__next
    transform: none
  .companyNews__top-right
    width: 100%
@media all and (max-width: 660px)
  .geography__content h3
    font-size: 90px
    margin-left: -20px
  .geography__content
    padding-right: 15px
    padding-left: 15px
@media all and (max-width: 620px)
  .companyNews__bottom__wrapper-listItem-left
    width: 0
    height: 0
  .companyNews__bottom__wrapper-listItem-right
    width: 100%
    height: 100%
@media all and (max-width: 600px)
  footer .footer__bottom__links ul li
    display: block
    text-align: center
    margin: 0
@media all and (max-width: 520px)
  .spehes__wrapper-listItem .textPart__content p
    font-size: 40px
  .spehes__wrapper-listItem .textPart__content ul li
    font-size: 12px
  .spehes__wrapper-listItem .textPart
    padding-top: 50px
    padding-bottom: 50px
    height: auto
    padding-left: 5px
    padding-right: 5px
  .spehes__wrapper-listItem
    justify-content: center
  .textPart__content
    text-align: center
  .spehes__wrapper-listItem .textPart__content ul
    margin: 0 auto
  .spehes__wrapper-listItem .textPart__content a
    margin: 0 auto
  .slider__control
    top: 100%
    transform: translateY(calc(-100% - 15px))
  .spehes__wrapper-listItem .textPart__content p
    font-size: 38px
  .geography__content h3
    font-size: 57px
  .geography__content h4
    font-size: 35px
  .geography__content p
    font-size: 13px
    width: auto
  section#ourPartners .ourPartners__top-left__text h4
    font-size: 44px
  footer .footer__top-container .footer__top__right
    flex-direction: column
  #second .second_left
    flex-direction: column
  #second
    padding: 60px 0px
  .second_left .second_left-first
    margin-bottom: 20px
@media all and (max-width: 410px)
  header .wrap_head .head_left .head_left-main h1
    font-size: 28px
  header .wrap_head .head_right .head_right-main .head_box
    padding-left: 12px
  header .wrap_head .head_right .head_right-main .head_box h5
    font-size: 14px

